<h1>Items</h1>

<% if @items.empty? %>
  <b>No items in store</b>
<% else %>
  <table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Rating</th>
  </tr>

  <% @items.each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td><%= link_to i.name, item_path(i) %></td>
      <td><%= i.price %></td>
      <td><%= link_to "edit", edit_item_path(i) %></td>
      <td><%= link_to "delete #{i.id}", item_path(i), method: :delete, data: { confirm: "Are you sure?" } %></td>
      <td>Rating: <%= i.votes_count %>, <%= link_to "+", upvote_item_path(i) %></td>
    </tr>
  <% end %>
  </table>
<% end %>